<<<<<<< HEAD
/* styles.css */



.bgcolor {
    min-height: 100vh;
   
    background: #ECEFF1;
  
    background: linear-gradient(158deg,rgb(224,224,224) 0%, rrgb(233,237,254)100%);
}


=======
>>>>>>> 1c128886bd5113c9234c63aca8f2f2f5601a6c77
.paddingAll{
    /* padding: 10px; */
}

.fileTitle{
<<<<<<< HEAD
    font-weight: 500;
=======
    font-weight: 600;
>>>>>>> 1c128886bd5113c9234c63aca8f2f2f5601a6c77
}

.fileSubTitle{
    font-size: 14px;
}

.iconStyle{
    margin-top: 20px !important;
<<<<<<< HEAD
    margin-bottom: 20px !important;
    color: #ECEFF1;
   
=======
    margin-left: 20px !important;
    color: aliceblue;
    
>>>>>>> 1c128886bd5113c9234c63aca8f2f2f5601a6c77
}

.iconStyleblack{
    margin-top: 20px !important;
<<<<<<< HEAD
    margin-bottom: 20px !important;
    color: #ECEFF1;
    
=======
    margin-left: 20px !important;
>>>>>>> 1c128886bd5113c9234c63aca8f2f2f5601a6c77
    
}

.gradient{
<<<<<<< HEAD
    background: rgb(200, 232, 203);
    background: linear-gradient(158deg, #2abba7 0%,rgb(209, 209, 212)  100%);
}

.gradientlight{
    background: rgb(231, 235, 235);
    background: linear-gradient(158deg, #1877f2 0%, rgb(255, 255, 255,1) 100%);
}


.text-black{
    color: rgb(240, 233, 233);
   
}

=======
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg,rgb(62 58 176) 0%, rgb(106, 109, 130)100%);
}

.gradientlight{
    background: rgb(53, 138, 148);
    background: linear-gradient(158deg,rgb(30, 136, 299,1) 0%, rgb(10, 73, 84)100%);
}

.bgcolor{
    /* min-height: 100vh; */
 
    background: #ECEFF1;
    background: linear-gradient(158deg,rgb(224,224,224) 0%, rrgb(233,237,254)100%)
}
>>>>>>> 1c128886bd5113c9234c63aca8f2f2f5601a6c77
